
@mixin middel-content{
    margin-top:40px;
    text-align: center;

    
}
.title-section{
    @include middel-content;
    padding-top:$padding-top-40;
    font-size:40px;
    font-weight:800;
    color:#000;
}
